.TopPicksBundle{
    width: 250px;
    position: relative;

}
.TopPicksBundle img{
    width: 100%;
}
.TopPicksBundle .discountRevert{
    position: absolute;
    top: 0;
    right: 0;
   border-bottom-left-radius: 5px;
   font-weight: bold;
}
.TopPicksBundle button{
    position: absolute;
    bottom: 20px;
    left: 20px;
}