.cbtn {
  /* Default styles */
  background-color: #533a0c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  height: min-content;
  white-space: nowrap;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);

  /* Hover styles */
  &:hover {
    background-color: #856016;
    color: #fff;
  }

  /* Active styles */
  &:active {
    background-color: #a1751b;
    color: #fff;
  }

  /* Focus styles */
  &:focus {
    outline: none;
    /* box-shadow: 0 0 0 0.2rem #f4b63a7d; */
  }

  /* Disabled styles */
  &:disabled {
    background-color: #b89e66bc;
    cursor: not-allowed;
  }
}
/* fluid */
.cbtn-fluid-h{
    width: 100%;
}
.cbtn-fluid-v{
    height: 100%;
}
.cbtn-fluid-hv{
    width: 100%;
    height: 100%;
}

/* Size variant */

.cbtn-sm {
  font-size: 14px !important;
  padding: 8px 10px;
}
.cbtn-md {
  font-size: 16px !important;
  padding: 10px 20px;
}
.cbtn-lg {
  font-size: 18px !important;
  padding: 10px 20px;
}

/* Shape variant */
.cbtn-rounded{
  border-radius: 50px;
}
.cbtn-rounded-rectangular {
  border-radius: 10px;
}
.cbtn-rectangular {
  border-radius: 5px;
}

/* Color variant */

.cbtn-primary {
  background-color: #533a0c;
  color: #fff;
  &:hover {
    background-color: #856016;
    color: #fff;
  }

  /* Active styles */
  &:active {
    background-color: #a1751b;
    color: #fff;
  }

  /* Focus styles */
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #f4b63a7d;
  }

  /* Disabled styles */
  &:disabled {
    background-color: #dde2e5;
    color: #acb5bd;
    cursor: not-allowed;
  }
}
/* Secondary */
.cbtn-secondary {
  background-color: #bf8f35;
  color: #fff;
  &:hover {
    background-color: #e6ac40;
    color: #fff;
  }
  &:active {
    background-color: #cc9939;
    color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #bf8f358d;
  }
}
/* Success Button */
.cbtn-success {
  background-color: #1d3d1f;
  color: #fff;
  &:hover {
    background-color: #3c7341;
    color: #fff;
  }
  &:active {
    background-color: #4c8d51;
    color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(76, 141, 81, 0.7);
  }
}

/* Danger Button */
.cbtn-danger {
  background-color: #761a1a;
  color: #fff;
  &:hover {
    background-color: #a72f2f;
    color: #fff;
  }
  &:active {
    background-color: #ba3f3f;
    color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(183, 28, 28, 0.7);
  }
}

/* Warning Button */
.cbtn-warning {
  background-color: #7b5d1d;
  color: #fff;
  &:hover {
    background-color: #b48d2e;
    color: #fff;
  }
  &:active {
    background-color: #c49e3d;
    color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(196, 158, 61, 0.7);
  }
}

/* Info Button */
.cbtn-info {
  background-color: #155f6c;
  color: #fff;
  &:hover {
    background-color: #2b9fa3;
    color: #fff;
  }
  &:active {
    background-color: #3badba;
    color: #fff;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(43, 159, 163, 0.7);
  }
}

/* Light Button */
.cbtn-light {
  background-color: #f8f9fa;
  color: #212529;
  &:hover {
    background-color: #e2e6ea;
    color: #212529;
  }
  &:active {
    background-color: #d6d8db;
    color: #212529;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.7);
  }
}

/* Dark Button */
.cbtn-dark {
  background-color: #212529;
  color: #fff;
  &:hover {
    background-color: #343a40;
    color: #fff;
  }
  &:active {
    background-color: #42464b;
    color: #fff;
  }
}

/* Link Button */

.cbtn-link{
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 1px;
  height: min-content;
  white-space: nowrap;
  font-size: 14px;
  outline: none;
  color: rgb(88, 172, 255);
  border: none;
  padding: 0;
}
.cbtn-link:hover{
  background-color: transparent;
  color: rgb(0, 132, 255);
}
.cbtn-link:focus{
  border: none;
  outline: none;
}