body {
  margin: 0;
  font-family:'Roboto'; /*Haedings : 'Montserrat' */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDF4;
  color: #212429;
}
p,h6{
  margin: 0;
  padding: 0;
}
input{
  accent-color: #a3731b;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}